.heroSection {
  margin-top: 2rem;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.name {
  margin-top: 2rem;
}
.profileImg {
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
}
.description {
  max-width: 500px;
  text-align: center;
}
