.bannerImg {
  position: relative;
  margin: 0 auto;
  max-width: 800px;
  height: 400px;
  margin-bottom: 1rem;
}

.tags {
  font-size: 1.4rem;
  text-transform: capitalize;
}

.description {
  margin-top: 1rem;
}

.blogDate {
  margin-bottom: 1rem;
}
