.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  margin-top: 5rem;
  max-width: 800px;
  padding: 0 1rem;
  width: 100%;
  text-align: center;
  gap: 1rem;
}
.tagButton {
  border: 2px solid transparent;
  background: #2c3440;
  color: var(--text-color);
  font-size: 1.8rem;
  padding: 1rem;
  border-radius: 6px;
}
.selected {
  border: 2px solid royalblue;
}
